.game{
    position: relative;
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    background: #f1f1f1;
    border-bottom: 3px solid rgb(43, 23, 0);
}
.barrier{
    width: 52px;
    height: 93px;
    background-image:url(img/barrier.png);
    position: absolute;
    bottom: 0;
    left: 950px;
}
.player{
    width: 85px;
    height: 90px;
    background-image:url(img/trex.png);
    position: absolute;
    bottom: 0;
    left: 30px;
}