body{
    background-color: #181821;
    background-image: url(assets/background.png);
    background-position: 100% -4%;
    background-size: 50%;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.wrap{
    height: 100vh;
    overflow: hidden;
}
.search{
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 300px;
    margin-right: 50px;
}
.complete{
    position: absolute;
    width: 160px;
    top: 7px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 24px;
    text-transform: uppercase;
}
.search__field{
    width: 160px;
    height: 40px;
    background-color: transparent;
    border-width: 0 0 1px 0;
    border-color: rgba(236, 236, 236, 0.5);
    border-style: solid;
    outline: none;
    background-image: url(assets/search-icon.png);
    background-repeat: no-repeat;
    background-position: 0;
    color: #fff;
    padding-left: 40px;
    font-size: 24px;
    text-transform: uppercase;
}

.images__container{
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
}

.images__group{
    position: absolute;
    transition: all 0.5s;
    width: 500px;
    height: 500px;
}

.image{
    position: absolute;
    opacity: 0;
}

.image--first{
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
}
.image--top-mid{
    left: 195px;
}
.image--bottom-mid{
    left: 195px;
    top: 240px
}
.image--last{
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
}

.fadeInLast{
    transition: all 0.5s;
    -webkit-animation: forwards animate 1s ease-in-out 1;
    animation: forwards animate 1s ease-in-out 1;
}
.fadeInFirst{
    transition: all 0.5s;
    -webkit-animation: forwards animate 0.7s ease-in-out 1 0.4s;
    animation: forwards animate 0.7s ease-in-out 1 0.4s;
}
.fadeInMid{
    transition: all 0.5s;
    -webkit-animation: forwards animateMid 0.7s ease-in-out 1 0.2s;
    animation: forwards animateMid 0.7s ease-in-out 1 0.2s;
   
}

/* @-webkit-keyframes animate {
    from {bottom: 0px;}
    to {bottom: 200px;}
}
*/

.fadeOut{
    transition: all 0.5s;
    opacity: 0;
    transform: translate(0, 50%);
}
@-webkit-keyframes animate {
    0% {
        -webkit-transform: translate(0, 20%) scale(0);
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translate(0,-50%) scale(1);
        -webkit-opacity: 1;
    }
}
@keyframes animate {
    0% {
        transform: translate(0, 20%) scale(0);
        opacity: 0;
    }
    100% {
        transform: translate(0,-50%) scale(1);
        opacity: 1;
    }
}  
@-webkit-keyframes animateMid {
    0% {
        -webkit-transform: translate(0, 80%) scale(0);
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translate(0,0) scale(1);
        -webkit-opacity: 1;
    }
} 

@keyframes animateMid {
    0% {
        transform: translate(0, 80%) scale(0);
        opacity: 0;
    }
    100% {
        transform: translate(0,0) scale(1);
        opacity: 1;
    }
} 

@media screen and (max-width: 768px){
    .wrap{
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .search{
        display: block;
        width: 200px;
        margin: 20px auto 0 auto;
    }
    .complete{
        right: 0;
    }
    .image--top-mid{
        left: 65px;
    }
    .image--bottom-mid{
        left: 130px;
        top: 240px;
    }
    .image--last{
        top: 170px;
    }
    .images__container{
        margin-top: 0;
    }
    .images__group{
        width: 320px;
    }
    @-webkit-keyframes animate {
        0% {
            -webkit-transform: translate(0, 20%);
            -webkit-opacity: 0;
        }
        100% {
            -webkit-transform: translate(0,-50%) scale(0.6);
            -webkit-opacity: 1;
        }
    } 
    @keyframes animate {
        0% {
            transform: translate(0, 20%);
            opacity: 0;
        }
        100% {
            transform: translate(0,-50%) scale(0.6);
            opacity: 1;
        }
    } 
    @-webkit-keyframes animateMid {
        0% {
            -webkit-transform: translate(0, 80%);
            opacity: 0;
        }
        100% {
            -webkit-transform: translate(0,0) scale(0.6);
            opacity: 1;
        }
    } 
    @keyframes animateMid {
        0% {
            transform: translate(0, 80%);
            opacity: 0;
        }
        100% {
            transform: translate(0,0) scale(0.6);
            opacity: 1;
        }
    } 
}