/* 

light grey: #f2f2f2
mig grey: #868686
main green: #07d79b
dark blue: #42495b

*/
.Header{
    height: 107px;
    border-bottom: 1px solid #f2f2f2;
}
.Header__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    height: 100%;
    margin: 0 auto;
}

.Header__categories{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #868686;
    cursor: pointer;
    transition: all 0.3s;
}

.Header__categories .title{
    position: relative;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 30;
}

.Header__categories:hover .title{
    color: #07d79b;
}
.Header__categories:hover span{
    background-color: #07d79b;
}
.Header__categories:hover span::before{
    background-color: #07d79b;
}
.Header__categories:hover .Header__categories__dropdown{
    height: 300px;
    opacity: 1;
    pointer-events: all;
}

.Header__categories__dropdown{
    position: absolute;
    top: -7px;
    left: -12px;
    /* display: none; */
    height: 0;
    opacity: 0;
    pointer-events: none;
    background-color: #fff;
    box-shadow: 0 0 20px 5px #f1f1f1;
    z-index: 20;
    padding: 40px 46px 11px 36px;
    box-sizing: border-box;
    transition: all 0.5s;
}
.Header__categories__dropdown p{
    line-height: 30px;
}
.Header__categories__dropdown p:hover{
    color: #07d79b;
}

.dropdown-icon{
    display: inline-block;
    margin-right: 10px;
}

.dropdown-icon span{
    position: relative;
    display: block;
    width: 15px;
    height: 3px;
    border-radius: 2px;
    background-color: #868686;
    margin: 3px 0;
    transition: all 0.3s;
}

.dropdown-icon span::before{
    position: absolute;
    content: '';
    width: 3px;
    height: 3px;
    left: -5px;
    border-radius: 50%;
    background-color: #868686;
    transition: all 0.3s;
}

.Header__search-field input{
    width: 324px;
    height: 30px;
    border: 1px solid #f2f2f2;
    outline-color: #07d79b;
    padding-left: 10px;
}
.Header__search-field::before{
    content: '';
}
.Header__wish{
    width: 30px;
}
.Header__wish  i{
    display: block;
    color: #868686;
}
.Header__wishlist{
    display: flex;
    justify-content: space-between;
    width: 73px;
}

.Header__wishlist span{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    font-size: 10px;
    background-color: rgba(7, 215, 155, 0.3);
    color: #07d79b;
    border-radius: 50%; 
    transition: all 0.1s;
}
.Header__wish:hover span{
    transform: scale(1.05);
    background-color: #07d79b;
    color: #fff;
}

.Header__button button{
    width: 150px;
    height: 30px;
    background-color: #07d79b;
    border: 1px solid #07d79b;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.Header__button button:hover{
    background-color: transparent;
    color: #07d79b;
}

.Header__auth__link{
    font-size: 14px;
    text-transform: uppercase;
    color: #868686;
    text-decoration: none;
    transition: all 0.3s;
}
.Header__auth__link:hover{
    color: #07d79b;
}

.Header__auth__link:first-child{
    margin-right: 9px;
    padding-right: 9px;
    border-right: 1px solid #f2f2f2;
}